@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background_color: #000000;
    --primeira_color__body: #ffffff;
    --segund_color_black: #30373e;
    --cinza_escuro: #adb5bd;
    --cinza_claro:#d3d7db;
    --color_blank: #fafafa;
    --roxo_azulado:#5a2ff2;
    --roxo_escuro:#845ef7;
    --roxo_claro:#e1d4ff;
    --roxo_white:#f8f5ff;
    --font_family:"Open  Sans", sans-serif;
    --font--Montserrat: "Montserrat", sans-serif;

}
body{
    margin: 0;
    font-family: "Open  Sans", sans-serif;
    background-color: var(--primeira_color__body);
    color: var(--background_color);
}

header{
    display: flex;
    width: 100%;
    height: 64px;
    background-color: var(--roxo_white);
    align-items: center;
    justify-content: space-between;
    
}
.header__menu{
    width: 24px;
    height: 18px;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.header__logo{
    width: 55px;
    height: 32px;
    padding: 10px;
}

.header__input{
    width: 18px;
    height: 18px;
    margin-right: 10px;

}

section{
    padding: 0 10px 0 10px;
    margin-top: 30px;
}

.projectComplexidade__card{
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.projectComplexidade__card img{
    width: 100%;
    height: 308px;
    object-fit: cover;
    border-radius: 24px;
    
}

.projectComplexidade__card__text{
    position: absolute;
    margin-left: 10px;

}

.projectComplexidade__card__text h1{
    font-family: var(--font--Montserrat);
    color: var(--background_color);
    font-weight: 800;
}

.projectComplexidade__card__text p{
    font-weight: 600px;
    font-family: var(--font_family);
    color: var(--background_color);
    font-size: 14px;
    width: 200px;
    letter-spacing: 1%;
    margin-bottom: 20px;
    margin-bottom: 8px;
}

.projectComplexidade__button{
    background-color: var(--roxo_escuro);
    color: var(--primeira_color__body);
    width: 174px;
    height: 44px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-family: var(--font--Montserrat);
    font-weight: 700;
    text-align: center;
}

/* Seção sobre */
.title{
    color: var(--background_color);
    font-weight: 400;
    font-size: 32px;
    font-family: var(--font--Montserrat);
}

.sobre p{
    font-family: var(--font_family);
    font-weight: 400px;
    line-height: 25.2px;
    font-size: 14px;
    letter-spacing: 1%;
    color: var(--background_color);
    margin-bottom: 8px;
}


.servicos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.servicos__item__card {
    position: relative;
    width: 100%; /* ajuste conforme necessário */
    border-radius: 15px;
    overflow: hidden;
    height: auto;
    border: 2px solid var(--cinza_claro);
}

.servicos__item__card img {
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

.servicos__item__descr {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--primeira_color__body);
    padding: 20px 10px 20px;
    width: 300px;
}

.servicos__item__descr p{
    font-weight: 700;
    font-size: 14px;
    font-family: var(--font_family);
    color:var(--background_color);
    padding: 10px;
    margin-bottom: 8px;
    letter-spacing: 1%;
    line-height: 25px;
    
}

.servicos__item__descr button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primeira_color__body); /* ajuste a cor conforme necessário */
    color: var(--roxo_escuro);
    border: 2px solid var(--roxo_escuro);
    border-radius: 5px;
    cursor: pointer;
    width: 280px;
    margin-left: 10px;
    margin-right: 20px;
}


.servicos__item__servicos{
    border: 2px solid var(--cinza_claro);
    border-radius: 15px;
    padding: 10px;
}

.servicos__item__servicos h3{
    font-family: var(--font_family);
    font-size: 14px;
    font-weight: 700;
    color: var(--background_color);
    width: 260px;
    
    
}

.servicos__item__servicos p{
    font-size: 14px;
    color: var(--background_color);
    font-weight: 400;
    font-family: var(--font_family);
    letter-spacing: 1%;
    line-height: 25px;
}
.servicos__image{
    width: 58px;
    height: 64px;
}

.servicos__image__config{
    width: 106px;
    height: 64px;

}

/* seção como trabalhamos */

.como__trabaçhamos__container img{
    width: 100%;

}

.como__trabaçhamos__container h3{
    font-family: var(--font_family);
    font-size: 14px;
    font-weight: 700;
    color: var(--background_color);
    width: 260px;
}

.como__trabaçhamos__container p{
    font-size: 14px;
    color: var(--background_color);
    font-weight: 400;
    font-family: var(--font_family);
    letter-spacing: 1%;
    line-height: 25px;
}


.como__trabaçhamos__container--btn{
    display: flex;
    justify-content: space-between;
}

.como__trabalhamos__bt{
    width: 137px;
    background-color: var(--roxo_escuro);
    color: var(--primeira_color__body);
    border-radius: 8px;
    height: 44px;
    padding: 13px  32px 13px 32px;
    border: none;
    font-size: 14px;
    font-family: var(--font--Montserrat);
    font-weight: 700px;
    line-height: 18px;
}

.como__trabalhamos__bt--desativado{
    width: 137px;
    height: 44px;
    border: 1px;
    border-radius: 8px;
    background-color: var(--primeira_color__body);
    border: 1px solid var(--roxo_escuro);
    text-align: center;
}